<section class="intro">
  <div class="bg-image h-100" style="background-color: #f5f7fa;">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
        <%= search_form_for @q, url: reservation_requests_path, method: :get, data: { controller: "autocomplete" } do |f| %>
  <%= f.label :customer_name_cont, "検索" %>
  <%= f.search_field :customer_name_cont, data: { autocomplete_target: "input", action: "input->autocomplete#search" } %><%= f.submit "検索" %>
  <ul data-autocomplete-target="list"></ul>
<% end %>
          <div class="col-12">
            <div class="card">
              <div class="card-body p-0">
                <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 700px">
                  <table class="table table-striped mb-0">
                    <thead style="background-color: #fff; color: #000;">
                      <tr>
                        <th scope="col">日程</th>
                        <th scope="col">お客様</th>
                        <th scope="col">ホテル</th>
                        <th scope="col">人数</th>
                        <th scope="col">喫煙</th>
                        <th scope="col">食事</th>
                        <th scope="col">コース</th>
                        <th scope="col">メモ</th>
                        <th scope="col">予約</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @reservation_requests.each do |reservation_request| %>
    <tr>
      <td><%= reservation_request.day %></td>
      <td><%= reservation_request.customer.name %></td>
      <td><%= reservation_request.hotel.name %></td>
      <td><%= reservation_request.number_of_people %></td>
      <td><%= reservation_request.is_smoking ? '喫煙' : '禁煙' %></td>
      <td><%= reservation_request.food %></td>
      <td><%= reservation_request.course %></td>
      <td><%= reservation_request.memo %></td>
      <td><%= reservation_request.status ? reservation_request.reservation_number : '未確定' %></td>
    </tr>
  <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>






