<h1>新規予約</h1>
<%= form_for @reservation_request do |f| %>
  <div class="field">
    <%= f.label :日程 %>
    <%= f.date_field :day %>
  </div>

  <%= f.label :顧客名 %>
  <%= f.collection_select :customer_id, @customers, :id, :name %>

  <%= f.label :ホテル %>
  <%= f.collection_select :hotel_id, @hotels, :id, :name %>

  <div class="field">
    <%= f.label :人数 %>
    <%= f.number_field :number_of_people %>
  </div>

  <div class="field">
    <%= f.label :喫煙 %>
    <%= f.check_box :is_smoking %>
  </div>

  <div class="field">
    <%= f.label :食事 %>
    <%= f.text_field :food %>
  </div>

  <div class="field">
    <%= f.label :コース %>
    <%= f.text_field :course %>
  </div>

  <div class="field">
    <%= f.label :メモ %>
    <%= f.text_area :memo %>
  </div>

  <div class="field">
    <%= f.label :予約済 %>
    <%= f.check_box :status %>
  </div>

  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>
<%= link_to "予約一覧", reservation_requests_path %>