<div class="reservation_show">
<div>
  <h1 class="mb-4">予約詳細</h1>
  <p><strong>日程:</strong> <%= @reservation_request.day %></p>
  <p><strong>顧客名:</strong> <%= @reservation_request.customer.name %></p>
  <p><strong>ホテル:</strong> <%= @reservation_request.hotel.name %></p>
  <p><strong>人数:</strong> <%= @reservation_request.number_of_people %></p>
  <p><strong>喫煙:</strong> <%= @reservation_request.is_smoking ? "はい" : "いいえ" %></p>
  <p><strong>食事:</strong> <%= @reservation_request.food %></p>
  <p><strong>コース:</strong> <%= @reservation_request.course %></p>
  <p><strong>予約番号:</strong> <%= @reservation_request.reservation_number %></p>
  <p><strong>メモ:</strong> <%= @reservation_request.memo %></p>
  <p><strong>予約:</strong> <%= @reservation_request.status ? "確定" : "未確定" %></p>
  </div>
  <%= link_to "編集", edit_reservation_request_path(@reservation_request), class: "btn btn-light" %> |
  <%= link_to "予約一覧", reservation_requests_path, class: "btn btn-light" %>
</div>

