<%= search_form_for @q do |f| %>
  <%= f.label :name_cont, "お客様名" %>
  <%= f.search_field :name_cont %>
  <%= f.submit %>
<% end %>
<div class="index-image">
  <h1 class="text-center">お客様一覧</h1>

  <div class="container">
    <div class="d-flex flex-column align-items-center">
      <% @customers.each do |customer| %>
  <div class="my-2">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
        <%= link_to customer.name, customer_path(customer), class: "btn btn-primary" %>
        <p>会社名: <%= customer.company %></p>
      </div>
    </div>
  </div>
<% end %>
      <%= link_to "お客様登録", new_customer_path, class: "btn btn-warning btn-light my-2" %>
    </div>
  </div>
</div>