<section class="intro">
  <div class="bg-image h-100" style="background-color: #f5f7fa;">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
        <%= search_form_for @q, data: { controller: "autocomplete" } do |f| %>
  <%= f.label :name_cont, "お客様名" %>
  <%= f.search_field :name_cont, data: { autocomplete_target: "input", action: "input->autocomplete#search" } %><%= f.submit %>
  <ul data-autocomplete-target="list"></ul>
<% end %>
          <div class="col-12">
            <div class="card">
              <div class="card-body p-0">
                <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 700px">
                  <table class="table table-striped mb-0">
                    <thead style="background-color: #fff; color: #000;">
                      <tr>
                        <th scope="col">名前</th>
                        <th scope="col">会社</th>
                        <th scope="col">誕生日</th>
                        <th scope="col">会員権</th>
                        <th scope="col">アレルギー</th>
                        <th scope="col">メモ</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.name %></td>
      <td><%= customer.company %></td>
      <td><%= customer.birthday.strftime('%Y/%m/%d') if customer.birthday %></td>
      <td><%= customer.membership %></td>
      <td><%= customer.allergy %></td>
      <td><%= customer.memo %></td>

    </tr>
  <% end %>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>