<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="icon" href="/path/to/favicon.ico" type="image/x-icon">

  </head>
  <body>
<header class="py-3 bg-dark">
  <div class="container">
    <%= link_to "RTTG営業サポート", root_path, class: "text-white text-start fs-5" %>
    <div class="float-end">
      <% if user_signed_in? %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-white" %>
      <% else %>
        <%= link_to "ログイン", new_user_session_path, class: "text-white" %>
        <span class="mx-3 text-light">|</span>
        <%= link_to "新規登録", new_user_registration_path, class: "text-white" %>
      <% end %>
    </div>
  </div>
</header>
    <%= yield %>
    <footer class="footer fixed-bottom py-3 bg-dark">
      <div class="container">
        <div class="d-flex justify-content-end">
          <%= link_to '利用規約', terms_path, class: 'text-light' %>
          <span class="mx-3 text-light">|</span>
          <%= link_to 'プライバシーポリシー', privacy_path, class: 'text-light' %>
        </div>
      </div>
    </footer>
  </body>
</html>